/******************************************
/* SETUP
/*******************************************/

/* Box Model Hack */
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

/* Clear fix hack */
.group:after{
    display: block;
    content: " ";
    clear: both;
}


/******************************************
/* BASE STYLES
/*******************************************/

html {
    min-height: 100%;
    font-size: 100%;
    position: relative;
}

body {
  margin: 0 auto 3em; 
  font-size: 1.5em;
  font-weight: 100;
  line-height: 1.4;
  font-family: 'Open Sans', sans-serif;
} 

footer {
    left: 0;
    bottom: 0;
    width: 100%;
    height: 3em;
    position: absolute;
    background: black;
}



a {
    color: white;
    text-decoration: none;
}


/******************************************
/* LANDING PAGE
/*******************************************/

/* Center the container */
.container {
    margin: 0 auto;
    max-width: 960px;
}

.landing {
  background: black;
}

header {
    height: 100%;
    position: relative;
    background: black;
}

.home-button {
    width: 7em;
    margin: 1em 1em;
    padding: .5em 0;
    font-size: 1em;
    font-weight: 400;
    text-align: center;
    border-radius: 5px;
    color: black;
    background: white; 
}

.martini {
  display: block;
  margin: auto;
  padding-top: 40px;
  width: 5em;
}

h1 {
  color: white;
  font-size: .9em;
  font-style: italic;
  font-weight: 100;
  text-align: center;
}

/******************************************
/* CONTENT PAGES
/*******************************************/

section {padding: 1em;} 

header {
    clear:both;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
}

.logo{float:left;}
.logo img {
    width: 100%;
    padding: 1.1em 1em .75em;  
}

nav a {
  color: white;
  margin:1.6em 1em;
}
nav .current{color:#A9E2F3;}

nav a:hover {
    color: #04B4AE;
}

.bottle {
  width: 100%;
}


h2 {
  color: #52527b;
  font-size: 1.8em;
  padding: 5px;
  font-weight: 400;
}

h3 {
  color: #52527b;
  font-size: 1em;
  padding-top: 1em;
  font-weight: 400;
}

p {
  color: #2a2a3f;
  padding: 0.5em;
  font-size: 0.6em;
  font-weight: 100;
}

.recipe {
  width: 170px;
  color:#52527b;
  font-size: 0.6em;
  padding: 0.5em;
  text-align: center;
  border-radius: 5px;
  background: #c2d6d6;
}

.recipeContainer {
  width: 68%;
  vertical-align: top;
  display: inline-block;
}

.pic {
  width: 30%;
  padding: 1em .3em;
  vertical-align: top;
  display: inline-block;
}

.liststyle {
  margin-left: 1em;
  padding: .5em;
}

li {
  margin: 0 2em;
  font-size: 0.6em;
  list-style-type: disc;
}

.hidden {
  display: none;
}

.close {
  color: red;
  margin: 0 0.5em;
  font-size: 0.6em;
  text-decoration: none;
}

.intro {
  display: inline-block;
  width: 100%;
  margin: 0 auto;
}

.leftcol {
  width: 40%;
  display: inline-block;
  vertical-align: top;
  margin: 0 .5em 1em 2em;
}

.rightcol {
  width: 40%;
  display: inline-block;
  vertical-align: top;
  margin: 0 .5em 1em 2em;
}


.social-nav {
  text-align: center;
  padding: .8em 0;
}

.social-icons {
  padding: 0 2em;
}


#mobile-menu {
  background: black;
  display: none;
}

#desktop-menu {
  display: inline;
}

/******************************************
/* SIGN UP NEWSLETTER
/*******************************************/

label {
  font-family: 'Open Sans', sans-serif;
  font-size: .6em;
  margin-left: 1em;
}

.form {
    font-family: 'Open Sans', sans-serif;
    width: 80%;
    padding: 30px;
    background: #FFFFFF;
    margin: 50px auto;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
    -moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
    -webkit-box-shadow:  0px 0px 15px rgba(0, 0, 0, 0.22);
}

.form-field {
  width: 100%;
  padding: 10px;
  display: block;
}

input[type="text"] {
  width: 100%;
  height: 50px;
  margin: 4px 0 0;
  font-family: 'Open Sans', sans-serif;
  font-size: .8em;
  padding: 10px;
}

input[type="email"] {
  width: 100%;
  height: 50px;
  margin: 4px 0 0;
  font-family: 'Open Sans', sans-serif;
  font-size: .8em;
  padding: 10px;
}

.question {
  font-family: 'Open Sans', sans-serif;
  font-size: .7em;
  padding-top: 10px;
}

input[type="button"] {
  width: 150px;
  height: 40px;
  margin: 20px 17px;
  font-family: 'Open Sans', sans-serif;
  font-size: .8em;
  font-weight: 400;
  background: #A9E2F3;
  color: #04B4AE;
  border-radius: 8px;
}


/******************************************
/* RESPONSIVE
/*******************************************/


/* Phones -----------------------*/
@media screen and (max-width:767px) {
    /* Modules */
    .content-box {
        width:96%;
        margin: 0 auto; 
        box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
    }
    /* Layout */

    nav {
        clear:both;
        height:0em;
        transition:height 1s;
    }

    nav.open{
        height:7em;
    }

    nav a {
        display:block;
        margin: .3em .4em;
        padding: .2em .8em;
    }

    /* Mobile Nav*/
    .mobile-nav{
        display: block;
        position:relative;
        float:right;
        margin:1em 1em 0 0;
        height:2em;
        width:2.25em;
        transform:rotate(0deg);
    }
    .mobile-nav span{
        position:absolute;
        background: white;
        width:100%;
        height:3px;
        border-radius:30px;
        transition:all 1s;
        transform:rotate(0deg);
    }
    .mobile-nav span:nth-child(1){top:0px;}
    .mobile-nav span:nth-child(2){top:.625em;}
    .mobile-nav span:nth-child(3){top:1.25em;}
    .mobile-nav.open span:nth-child(1){
        transform:rotate(45deg);
        top: .625em; /* 10px */
        left: 0px;
    }
    .mobile-nav.open span:nth-child(2){opacity:0;}
    .mobile-nav.open span:nth-child(3){
        transform:rotate(-45deg);
        top: .625em; /* 10px */
        left: 0px;
    }
    #desktop-menu {
      display: none;
    }
}

/* Tablet/Desktop -----------------------*/
@media screen and (min-width:768px) {
    /* Layout */
    nav {float: right;}
    nav a {float:left;}
    .mobile-nav{display:none;}

    .home-intro {
        padding-bottom: 3em; /* 48px */
        background-size: cover;
        background-repeat: no-repeat;
        background-image: url("../img/ga-background.jpg");
    }

    /* Font */
    .home-intro h1 {
        font-size: 5em;
        margin-top: 26px; 
    }
    
    .content-box {
        display:inline-block;
        vertical-align: top;
        padding: 2% 3%;
        width: 33.3333%;
        box-shadow: inset -1px 0 0 rgba(0,0,0,.15);
    }
    #mobile-menu {
      display: none;
    }
}

