/******************************************
/* SETUP
/*******************************************/

/* Box Model Hack */
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

/* Clear fix hack */
.group:after{
    display: block;
    content: " ";
    clear: both;
}


/******************************************
/* BASE STYLES
/*******************************************/

html {
    min-height: 100%;
    font-size: 100%;
    position: relative;
}

body {
  margin: 0 auto 3em; 
  font-size: 1.5em;
  font-weight: 100;
  line-height: 1.4;
  font-family: 'Open Sans', sans-serif;
} 

footer {
    left: 0;
    bottom: 0;
    width: 100%;
    height: 3em;
    position: absolute;
    background: black;
}



a {
    color: white;
    text-decoration: none;
}


/******************************************
/* LANDING PAGE
/*******************************************/

/* Center the container */
.container {
    margin: 0 auto;
    max-width: 960px;
}

.landing {
  background: black;
}

header {
    height: 100%;
    position: relative;
    background: black;
}

.button {
    width: 7em;
    margin: 1em 1em;
    padding: .5em 0;
    font-size: 1em;
    font-weight: 400;
    text-align: center;
    border-radius: 5px;
    color: black;
    background: white; 
}

h1 {
  color: white;
  font-size: 1em;
  font-style: italic;
  font-weight: 100;
  text-align: center;
}

/******************************************
/* CONTENT PAGES
/*******************************************/

section {padding: 1em;} 

header {
    clear:both;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
}

.logo{float:left;}
.logo img {
    width: 250px;
    padding: 1.1em 1em .75em;   /*17px 16px 12px */
}

nav a {
    font-size: .9em;
    float: right;
    padding: 1.25em 1em; 
    margin:1em 1.4em; 
}

nav a:hover {
  color: red;
}

.recipecontainer {
  float:left;
  width: 1000px;
  margin: 80px 0 30px 200px;
}

.bottle {
  width: 100%;
}

.recipes {
  width: 160px;
  float: right;
  opacity: 0.4;
  font-size: 18px;
  font-weight: 600;
  border-radius: 5px;
  padding: 10px 30px;
  text-align: center;
  text-decoration: none;
  margin: 20px 260px 0 500px;
  background-color: white; 
}

h2 {
  color: #52527b;
  font-size: 1.8em;
  padding: 5px;
  font-weight: 400;
}

h3 {
  color: #52527b;
  font-size: 1.4em;
  padding: 0.2em;
  font-weight: 400;
}

p {
  color: #2a2a3f;
  padding: 0.5em;
  font-size: 0.8em;
  font-weight: 100;
}

.intro {
  display: inline-block;
  width: 100%;
  margin: 0 auto;
}

.leftcol {
  display: inline-block;
  width: 40%;
  margin: 0 .5em 1em 2em;
}

.rightcol {
  display: inline-block;
  width: 40%;
  margin: 0 .5em 1em 2em;
}


.social-nav {
  text-align: center;
  padding: .8em 0;
}

.social-icons {
  padding: 0 2em;
}

/* Hover effect for recipes*/

#mainwrapper {
  font: 10pt;
  height: auto;
  margin: 80px auto 0 auto;
  text-align: center;
  width: 70%;
}

#mainwrapper .box {
  border: 5px solid #fff;
  cursor: pointer;
  height: 300px;
  float: left;
  margin: 5px;
  position: relative;
  overflow: hidden;
  width: 300px;
    -webkit-box-shadow: 1px 1px 1px 1px #ccc;
    -moz-box-shadow: 1px 1px 1px 1px #ccc;
    box-shadow: 1px 1px 1px 1px #ccc;
}

#mainwrapper .box img {
  position: absolute;
  left: 0;
    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    -ms-transition: all 300ms ease-out; 
  transition: all 300ms ease-out;
}

#mainwrapper .box .caption {
  background-color: rgba(0,0,0,0.8);
  position: absolute;
  color: #fff;
  z-index: 100;
    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    -ms-transition: all 300ms ease-out; 
    transition: all 300ms ease-out;
  left: 0;
}

#mainwrapper .box .title {
  height: 50px;
  width: 300px;
  display: block;
  bottom: -50px;
  line-height: 25pt;
  text-align: center;
}

#mainwrapper .box:hover .title {
  -moz-transform: translateY(-100%);
  -o-transform: translateY(-100%);
  -webkit-transform: translateY(-100%);
  opacity: 1;
  transform: translateY(-100%);
}

/******************************************
/* RESPONSIVE
/*******************************************/


/* Phones -----------------------*/
@media screen and (max-width:767px) {
    /* Modules */
    .content-box {
        width:96%;
        margin: 0 auto;
        box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
    }
    /* Layout */

    nav {
        clear:both;
        height:0;
        transition:height 1s;
    }
    nav.open{
        height:7.5em; 
    }
    nav a {
        display:block;
        background:rgba(255,255,255,0.1);
        margin-bottom:.25em;
    }

    /* Mobile Nav*/
    .mobile-nav{
        display: block;
        position:relative;
        float:right;
        margin:1em 1em 0 0;
        height:2em;
        width:2.25em;
        transform:rotate(0deg);
    }
    .mobile-nav span{
        position:absolute;
        background: white;
        width:100%;
        height:3px;
        border-radius:30px;
        transition:all 1s;
        transform:rotate(0deg);
    }
    .mobile-nav span:nth-child(1){top:0px;}
    .mobile-nav span:nth-child(2){top:.625em;}
    .mobile-nav span:nth-child(3){top:1.25em;}
    .mobile-nav.open span:nth-child(1){
        transform:rotate(45deg);
        top: .625em; /* 10px */
        left: 0px;
    }
    .mobile-nav.open span:nth-child(2){opacity:0;}
    .mobile-nav.open span:nth-child(3){
        transform:rotate(-45deg);
        top: .625em; /* 10px */
        left: 0px;
    }

}

/* Tablet/Desktop -----------------------*/
@media screen and (min-width:768px) {
    /* Layout */
    nav {float: right;}
    nav a {float:left;}
    .mobile-nav{display:none;}

    .home-intro {
        padding-bottom: 3em; /* 48px */
        background-size: cover;
        background-repeat: no-repeat;
        background-image: url("../img/ga-background.jpg");
    }

    /* Font */
    .home-intro h1 {
        font-size: 5em;
        margin-top: 26px; 
    }
    
    .content-box {
        display:inline-block;
        vertical-align: top;
        padding: 2% 3%;
        width: 33.3333%;
        box-shadow: inset -1px 0 0 rgba(0,0,0,.15);
    }
}

